{% extends "dashboard_bootstrap.html" %}

{% block content %}


<div class="col-md-6" style="text-align:center">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title-lg">Welcome to the Resident Configuration Page!</h3>
    </div><br>
    <form class="panel-body" method="POST" action="{{  url_for('submit_house_data')  }}">
      <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" name="name">
      </div><br>
      <div class="input-group">
        <span class="input-group-addon">Address</span>
        <input type="text" class="form-control" name="address">
      </div><br>
    </form>
  </div>

  <div class="panel panel-info" style="text-align: center">
    <div class="panel-heading">
      <h3 class="panel-title">The following houses are already in the database:</h3>
    </div>
    {% for each in houses %}
    <ul class="list-group">
      <li class="list-group-item">{{ each.name }}</li>
    </ul>
    {% endfor %}
  </div>

  <div class="panel panel-danger" style="text-align: center">
    <div class="panel-heading">
      <h3 class="panel-title">Remove a House</h3>
    </div>
    <form action= "{{url_for('remove_resident')}}" method="post">
      <p class="panel-body">To remove a House from the database, <br> type it's name in the text box and click 'submit':</p>
      <input type="text" name="removeHouse"></input>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

</div>

{% endblock %}
